.App{
    display:flex;
    justify-content: center;
    padding-top:3rem;
}
.card{
    width:30%;
    padding:3rem;
    border-radius:15px;
    border:1px solid #000;
    margin:3rem;
}
.card>form{
    display:flex;
    flex-direction: column;
}
.check{
    display:flex;
}
.checkNum{
    flex-direction: column;
    padding:3rem 0;
}
.all_checked{
    border-bottom:1px solid #000;
    align-items: center;
    padding-bottom:3rem;
}
input[type=checkbox]{
    width:50px;
    height:50px;
}

button{
    width:100px;
    padding:10px;
    font-size:20px;
    background-color: aqua;
    border:none;
    border-radius:10%;
}